/* ==========================================================================
   Author's custom styles
   ========================================================================== */
section {clear:both}
ol { list-style: none; margin: 2em 0; padding:0;  }
ol li { clear: both; margin: 1em 0; }
.icon_block { min-width: 100px; text-align: center; margin-top: 5px; }
.icon_block .glyphicon {color: #3dbfd9; font-size:60px}
.circle { margin-top: 0.4em; display: inline-block; font-size: 30px; line-height: 62px; background: #3dbfd9; border-radius: 50%; width: 60px; height: 60px; color: white;text-align:center}
.circle object { margin: 15px; float: left; }
.bullets li { list-style: disc; margin-bottom: 0.74em; }
.bullets li ul { padding-left: 0; }
.bullets li li { list-style: none; margin: 0.5em 0; }
.writable { padding: 0; list-style: none; }
.small object { margin-bottom: -15px; }
.callout { color: #f00; }
#error_404 { padding: 2em; text-align: center; }

body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}